// ---------------------------------------------------------------------------------------------------------------------
// Imports -------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
@import 'hero-primary/hero-primary';
@import 'hero-non-profit/hero-non-profit';
@import 'hero-events/hero-events';
@import 'hero-blog/hero-blog';
@import 'footer/footer';
@import 'footer-non-profit/footer-non-profit';
@import 'home-video/home-video';
@import 'home-singlecta/home-singlecta';
@import 'home-slider/home-slider';
@import 'home-events/home-events';
@import 'home-metrics/home-metrics';
@import 'testimonials/testimonials';
@import 'single-video/single-video';
@import 'three-facts-grid/three-facts-grid';
@import 'book/book';
@import 'events-list/events-list';
@import 'event/event-post';
@import 'event/event-content';
@import 'event/event-hero';
@import 'event/event-share';
@import 'event/event-post';
@import 'blog/blog-featured';
@import 'blog/blog-list';
@import 'blog/blog-pagination';
@import 'blog/blog-single-hero';
@import 'blog/blog-single-share';
@import 'hero-press/hero-press';
@import 'search/search-results';
@import 'general-hero/general-hero';
@import 'old/spring-var';
@import 'old/base';
@import 'old/dynamicPage';
@import 'team/team';
@import 'team/overview';
@import 'team/list';
@import 'team/single';
@import 'knowledge-sidebar/knowledge-sidebar';
@import 'knowledge-faq/knowledge-faq';
@import 'calculator/egg-calcuator';
@import 'general-common/general-common';
@import 'general-common/image-blocks-in-columns';
@import 'locations/locations';
@import 'testimonials-new/testimonials-new';
@import "videos/videos";
@import "search-on-page/search-on-page";
@import "resources-faq/resources-faq";
@import "header/popup";
@import "section-brake-container/section-brake-container";
@import "cta/cta";
@import "link-blocks/link-blocks";
@import "legal-components/legal";
@import "workable-jobs/workable-jobs";
// --
// -- New Global settings
// --
@import "nav-primary/nav-primary";
// --
// -- Page Blocks Builder Imports
// --
@import "pb-hero/pb-hero";
@import "pb-content/pb-content";
@import "pb-cta/pb-cta";
@import "pb-testimonials/pb-testimonials";
@import "pb-eventbrite-events/pb-eventbrite-events";
@import "pb-team/pb-team";
@import "pb-optimize/pb-optimize";
@import "js-hs-section/js-hs-section";
@import "pb-hss/pb-hss";
@import "pb-hss/pb-hss-sm";
@import "pb-egg-calculator/pb-egg-calculator";
@import "form-bac/form-bac";
@import "events-overview/events-overview";
@import "images_section/images_section";
@import "providing/providing";
@import "visiting/visiting";
@import "awards/awards";
@import "reviews_slider/reviews_slider";
@import "faq_accordion/faq_accordion";
iframe[src*=google] {
    display: block;
    margin: 0 auto !important;
    @media (max-width: 500px) {
        max-width: 100% !important;
    }
}

.modal {
    z-index: 6500;
}