.mtop100 .knowledge-side li {
  list-style: none;
}

.knowledge-side {

  .empty-glyphicon {
    padding-left: 15px;
  }

  .panel-btn {
    color: $_gray_8;
    padding: 10px 20px 5px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;

    span {
      font-size: 11px;
    }
  }

  .panel-group {
    margin-bottom: 0;

    .panel + .panel {
      margin: 0;
    }
  }

  .panel-base {

    .panel-active {

      .panel-heading {
        background: $sp-blue;
        border-radius: 0;
      }

      .panel-heading a {
        color: $_white;
      }
    }

    .panel-heading {
      padding: 20px;
    }

    > .panel {
      border: thin solid $_gray_92;
      border-radius: 0;

      + .panel {
        margin-top: 0;
      }

      a {
        display: block;
        font-size: 16px;
        color: $_gray_5;
        text-transform: none;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }

      a.sub_actv {
        color: $_aqua;
      }
    }

  }

  .panel ul {
    padding-left: 36px;
    list-style: none;

    li {
      padding: 7px 0;

      a {
        color: $_gray_8;
        font-size: 14px;
        font-weight: 100;
        line-height: 1.42857;
      }
    }
  }
}