//footer {
//  background: #F3F6F9;
//
//  hr {
//    background: #97A1A9;
//    margin-top: 45px;
//    margin-bottom: 0;
//  }
//
//  h4 {
//    margin: 0;
//    //color: $orange;
//    //color: #000000;
//    color: #ffffff;
//    text-transform: uppercase;
//
//    font-size: 22px;
//    font-weight: 600;
//    line-height: 30px;
//  }
//
//  .footer-social {
//    //background-color: $_gray_5c;
//    background-color: #4e565c;
//    padding: 30px 25px 52px;
//
//    ul {
//      margin-bottom: 0;
//      margin-top: 31px;
//
//      li {
//        display: inline-block;
//        margin-right: 25px;
//        height: 36px;
//        width: 36px;
//        color: $_white;
//      }
//    }
//
//    .ico-facebook {
//      background-image: url('../../static/icons/footer_icon_fb.svg');
//      background-repeat: no-repeat;
//      background-position: center;
//
//    }
//
//    .ico-twitter {
//      background-image: url('../../static/icons/footer_icon_tw_white.svg');
//      background-repeat: no-repeat;
//      background-position: center;
//    }
//
//    .ico-instagram {
//      background-image: url('../../static/icons/footer_icon_insta.svg');
//      background-repeat: no-repeat;
//      background-position: center;
//    }
//
//    .ico-yelp {
//      background-image: url('../../static/icons/footer_icon_yelp.svg');
//      background-repeat: no-repeat;
//      background-position: center;
//    }
//
//    .ico-facebook,
//    .ico-twitter,
//    .ico-instagram,
//    .ico-yelp {
//      a {
//        padding: 5px 10px 8px;
//      }
//    }
//
//  }
//
//  .footer-info {
//    padding: 30px 25px 45px;
//    //background-color: $header-gray;
//    background-color: #053953;
//
//    a {
//      color: $_white;
//    }
//
//    p {
//      margin: 15px 0 0;
//      color: $_white;
//      font-size: 16px;
//      line-height: 30px;
//
//      + p {
//        margin-top: 0;
//      }
//    }
//  }
//
//  .footer-locations,
//  .footer-links {
//    text-align: center;
//
//    h5 {
//      margin: 0;
//      color: $header-gray;
//      font-size: 18px;
//      font-weight: bold;
//      letter-spacing: 1px;
//      line-height: 34px;
//      padding-top: 45px;
//
//
//    }
//
//    p {
//      margin: 0 auto;
//      color: $_gray_5c;
//      font-size: 16px;
//      line-height: 26px;
//      max-width: 290px;
//    }
//
//    ul {
//      list-style: none;
//      font-size: 16px;
//      font-weight: 500;
//      line-height: 34px;
//      padding: 10px 0 0;
//    }
//
//    a {
//      color: $_gray_78;
//
//      &:hover {
//        color: $header-gray;
//        text-decoration: none;
//      }
//    }
//  }
//
//  .footer-locations {
//
//    h5 {
//      margin: 0 auto;
//      max-width: 290px;
//    }
//
//  }
//
//  .footer-logo {
//    margin: 45px 0 30px;
//    background: url('../../static/images/logo-g.png') center no-repeat;
//    background-size: 130px;
//    height: 47.3px;
//  }
//
//  .copyright {
//    margin: 0 auto 45px;
//    //max-width: 325px;
//    text-align: center;
//    color: $_gray_78;
//    font-size: 13px;
//    line-height: 26px;
//  }
//
//}
//
//
//@include mq($from: tablet)  {
//  footer {
//
//    .footer-social,
//    .footer-info {
//      height: 255px;
//      padding: 45px 70px 0;
//    }
//
//    .footer-social ul {
//      margin-top: 25px;
//
//      li {
//        margin-right: 24px;
//      }
//    }
//
//    .footer-links {
//      h5 {
//        padding-top: 60px;
//      }
//    }
//
//    .footer-locations {
//
//      h5 {
//        padding-top: 60px;
//        padding-bottom: 10px;
//      }
//
//    }
//
//    .footer-logo {
//      margin: 75px 0 25px;
//    }
//
//    .copyright {
//      margin-bottom: 100px;
//      //max-width: 354px;
//      font-size: 14px;
//      br {
//        display: none;
//      }
//    }
//
//  }
//}
//
//@include mq($from: desktop)  {
//
//  footer {
//    .footer-logo {
//      margin-top: 50px;
//    }
//
//    .footer-locations,
//    .footer-links {
//      text-align: left;
//    }
//
//    .footer-links {
//      margin-bottom: 17px;
//
//      ul {
//        margin-bottom: 0;
//      }
//    }
//
//    .footer-locations {
//      padding-bottom: 15px;
//
//      h5 {
//        margin: 0;
//        padding-top: 70px;
//      }
//
//      p {
//        margin: 0;
//      }
//    }
//
//    .footer-social,
//    .footer-info {
//      height: 317px;
//      padding-top: 80px;
//      text-align: left;
//    }
//
//    .footer-info {
//      padding-left: 150px;
//    }
//
//    .footer-social {
//      padding-left: 17%;
//    }
//
//    .copyright {
//      margin-bottom: 80px;
//      //max-width: 440px;
//    }
//
//  }
//}

// ---------------------------------------------------------------------------------------------------------------------
// Footer V2 -----------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
.footer-v2 {
  // -- Contact
  &__contact {
    width: 100%;
    background: $sv2-color-blue-deep;
    padding: 30px 0 30px 0;

    * {
      color: $sv2-color-white;
      font-weight: bold;
    }

    &-box {
      @include display-as-flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &-title {
      font-size: $sv2-fs-h4;
      text-align: center;
    }

    &-p, &-f, &-e {
      font-size: $sv2-fs-p;
      text-transform: uppercase;
      text-align: center;
      padding: 0 60px 0 60px;

      a {
        transition: .25s;
      }

      a:hover {
        text-decoration: none;
        color: $sv2-color-blue-gray;
      }
    }

    &-p,
    &-f {
      border-right: 2px solid $sv2-color-blue-gray;
    }

    &-e {
    }

    @include mq($until: desktop) {
      &-box {
        flex-wrap: wrap;
      }
      &-title {
        width: 100%;
        padding-bottom: 30px;
      }
      &-p, &-f, &-e {
        width: 33%;
        padding: 0;
        border: none;
      }
    }
    @include mq($until: tablet) {
      &-title, &-p, &-f {
        padding-bottom: 15px;
      }
      &-p, &-f, &-e {
        width: 100%;
      }
    }
  }

  // -- Locations
  &__locs {
    width: 100%;
    padding: 30px 0 30px 0;
  }

  &__locs-title {
    margin: 0;
    line-height: 1.2;
    font-size: $sv2-fs-h4;
    font-weight: bold;
    text-align: center;
    color: $sv2-color-blue-deep;
    padding: 0 0 20px 0;
  }

  &__loc-list {
    @include display-as-flex;
    padding: 0 15px 0 15px;

    @include mq($from: wide) {
      justify-items: center;
      justify-content: center;
    }

    @include mq($until: tablet) {
      padding: 0;
    }
  }

  &__loc {
    display: block;
    padding: 20px;

    &-box {
      display: block;
      margin: 0 auto;
      max-width: 280px;
    }

    a, * a, a * {
      color: $sv2-color-blue-deep !important;
      text-decoration: none;
      transition: .25s;

      &:hover {
        text-decoration: none;
        color: $sv2-color-blue-light;
      }
    }

    &-1-6 {
      width: percentage(1/6);
    }

    &-1-5 {
      width: percentage(1/5);
    }

    &-1-4 {
      width: percentage(1/4);
    }

    &-1-3 {
      width: percentage(1/3);
    }

    &-title {
      display: block;
      width: 100%;
      margin: 0;
      line-height: 1.2;
      font-size: $sv2-fs-h6;
      font-weight: bold;
      color: $sv2-color-blue-deep;
      padding: 0 0 15px 0;
      border-bottom: 2px solid $sv2-color-gray-light-2;
    }

    &-txt {
      padding: 15px 0 0 0;

      * {
        color: $sv2-color-gray;
        font-size: $sv2-fs-nav-sm;
        line-height: 1.3;
      }
    }

    @include mq($until: 1300px) {
      &-1-6 {
        width: percentage(1/3);
      }

    }

    @include mq($until: desktop) {
      &-1-6,
      &-1-5 {
        width: percentage(1/3);
      }
    }
    @include mq($until: tablet) {
      padding: 30px 15px 15px 15px;

      &-txt * {
        font-size: $sv2-fs-nav-xs !important;
      }

      &-1-6,
      &-1-5 {
        width: percentage(1/2);
      }
      &-1-4 {
        width: percentage(1/2);
      }
      &-1-3 {
        width: percentage(1/2);
      }
    }
  }

  // -- Common
  &__common {
    width: 100%;
    background: $sv2-color-gray-light;
    padding: 30px 0 15px 0;
  }

  // -- Navs
  &__navs {
    @include display-as-flex;
  }

  &__nav-title {
    font-size: $sv2-fs-h6;
    font-weight: bold;
    color: $sv2-color-blue-deep;
    padding: 15px 0 15px 0;
  }

  &__nav-box {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      margin: 0;
      padding: 0 0 0 20px;
      list-style: none;
    }

    li {
      display: block;
      width: 100%;
      margin: 0;
      padding: 7px 0 7px;
      line-height: 1;
    }

    a {
      font-size: $sv2-fs-nav-sm;
      color: $sv2-color-gray;
      transition: .25s;

      &:hover {
        text-decoration: none;
        color: $sv2-color-blue-deep;
      }
    }
  }

  // -- Socials
  &__socials {
    display: block;
    width: 100%;
    padding: 30px 0 15px 0;

    @include mq($until: desktop) {
      text-align: center;
    }
  }

  &__social {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: .25s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .75;
    }
  }

  // -- Bottom text
  &__bottom-txt {
    display: block;
    width: 100%;
    text-align: center;
    font-size: $sv2-fs-nav-sm;
    color: $sv2-color-gray;

    a {
      color: $sv2-color-blue-deep;
      font-weight: bold;
    }

    @include mq($from: desktop) {
      text-align: right;

      br {
        display: none !important;
      }
    }
  }

}

.footer-v2__subscribe {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #19b1dc;

  &-row {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    padding: 16px 0 16px 0;
  }

  &-info {
    display: block;
    width: 33.333%;
    padding: 16px;

    * {
      color: #fff;
    }
  }

  &-code {
    display: block;
    width: 66.667%;
    padding: 16px;

    * {
      margin: 0;
      box-sizing: border-box;
    }

    form {
      display: flex!important;
      flex-flow: row wrap!important;
      grid-column-gap: unset!important;
      grid-row-gap: unset!important;
      width: 100%;
    }

    .gform_fields {
      display: flex!important;
      flex-flow: row wrap!important;
      grid-column-gap: unset!important;
      grid-row-gap: unset!important;
      width: 100%;
    }

    .gform_body {
      width: calc(100% - 120px);
    }

    .gform_footer {
      width: 120px;
      padding: 16px 0 16px 0!important;
      margin: 0!important;
    }

    .gfield {
      display: block!important;
      width: 50% !important;
      padding: 16px 16px 16px 0!important;
      grid-column-gap: unset!important;
      grid-row-gap: unset!important;
    }

    .ginput_container input,
    .ginput_container select {
      background: #fff;
      font-weight: bold;
    }

    .gform_footer .gform_button {
      background: #f3e4d4!important;

      margin: 0!important;
      border: none!important;
      padding: 16px 16px  16px 16px!important;
      border-radius: 25px!important;
      min-width: unset!important;
      min-height: unset!important;
      line-height: 19px!important;
      width: 100%!important;

      color: #000!important;
      font-weight: bold!important;

      transition: .25s!important;

      &:hover {
        background: #EFB18A!important;
      }
    }

    .gform_confirmation_wrapper {
      * {
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  @media (max-width: 992px) {
    &-info {
      width: 100%;
    }
    &-code {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    &-info {
      width: 100%;
    }
    &-code {
      width: 100%;
    }

    .gform_body {
      width: 100%;
    }

    .gform_footer {
      width: 100%;
    }

    .gfield {
      width: 100% !important;
    }
  }
}
