.images-section {
    &.container {
        max-width: 1620px;
        width: 100%;
    }
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
        position: relative;
        width: 22.5%;
        &-img img {
            transform: scale(0.9);
        }
        &-icon {
            position: absolute;
            height: min-content;
            width: min-content;
        }
    }
    @media screen and (max-width:1300px) {
        &.container {
            flex-wrap: wrap;
        }
        &__item {
            position: relative;
            width: 45%;
            &-img {
                margin: 0 auto;
                display: block;
            }
        }
    }
    @media screen and (max-width:640px) {
        &__item {
            position: relative;
            width: 95%;
            &-img {
                width: 100%;
                margin: 0 auto;
                display: block;
                transform: rotate(0deg) translateY(0%) translateX(0%) !important;
            }
            &-icon {
                left: 15px !important;
                bottom: 85px !important;
                right: auto !important;
                top: auto !important;
            }
        }
    }
}

@media screen and (max-width:640px) {
    .pb-id__images_section:nth-of-type(3) .images-section__item-img {
        width: 70% !important;
    }
}